.cdtype-class { border: none; background-color: whitesmoke; }
.my-radio { width: 15px; height: 15px; }
label.has-error { color:#a94442; }
span.has-error { color:#a94442; }
#amt { text-align: right; }
